n8n-workflows/simple-webhook-trigger.json
{
  "name": "MagicPlate Simple Webhook Trigger",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook - Trigger Email Send",
      "type": "n8n-nodes-base.webhook",
      "position": [0, 0],
      "parameters": {
        "path": "send-outreach",
        "httpMethod": "POST",
        "options": {}
      },
      "webhookId": "magicplate-send-outreach",
      "typeVersion": 2.1
    },
    {
      "id": "prepare-email",
      "name": "Prepare Email",
      "type": "n8n-nodes-base.code",
      "position": [200, 0],
      "parameters": {
        "jsCode": "// Prepare email from webhook data\nconst lead = $input.item.json.body || $input.item.json;\n\nconst issues = lead.issues || [];\nlet personalizedHook = '';\n\nif (issues.includes('not_on_doordash')) {\n  personalizedHook = 'We noticed you\\'re not on DoorDash yet—this is a huge opportunity to unlock 20-40% more revenue from delivery customers.';\n} else if (issues.includes('no_website') || issues.includes('broken_website')) {\n  personalizedHook = 'We noticed your restaurant could benefit from a stronger online presence—especially a shareable digital menu that customers can access anywhere.';\n} else if (issues.includes('no_menu_photos') || issues.includes('no_professional_photos')) {\n  personalizedHook = 'Your menu items deserve to look as amazing as they taste. We can transform your current photos into stunning visuals that drive orders.';\n} else {\n  personalizedHook = 'We help restaurants like yours transform their menu presentation and digital presence to drive more sales.';\n}\n\nconst html = `<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; line-height: 1.6; color: #333; margin: 0; padding: 0; }\n    .container { max-width: 600px; margin: 0 auto; background: #ffffff; }\n    .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 40px 30px; text-align: center; }\n    .header h1 { margin: 0; font-size: 32px; font-weight: 700; }\n    .content { padding: 40px 30px; background: #f9f9f9; }\n    .section { background: white; padding: 25px; border-radius: 8px; margin-bottom: 20px; }\n    .cta-button { display: inline-block; background: #667eea; color: white; padding: 16px 32px; text-decoration: none; border-radius: 6px; font-weight: 600; margin: 20px 0; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>MagicPlate.ai</h1>\n      <p>Make Every Plate Magical ✨</p>\n    </div>\n    <div class=\"content\">\n      <div class=\"section\">\n        <p><strong>Hi there!</strong></p>\n        <p>My name is Sydney, and I'm reaching out from <strong>MagicPlate.ai</strong>. ${personalizedHook}</p>\n        <p>We specialize in AI-powered menu restoration and digital menu creation – transforming your real plate photos into stunning visuals that captivate customers and drive sales.</p>\n        <p><strong>Starting at $299</strong> - Get your magical digital menu in 48 hours.</p>\n        <div style=\"text-align: center;\">\n          <a href=\"https://magicplate.info/book\" class=\"cta-button\">Schedule a Free 15-Minute Call</a>\n        </div>\n        <p>📧 Reply to this email | 📞 (805) 668-9973</p>\n        <p>Best,<br>Sydney Ramey<br>MagicPlate.ai</p>\n      </div>\n    </div>\n  </div>\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    ...lead,\n    emailHtml: html,\n    personalizedHook: personalizedHook\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "send-email",
      "name": "Send via Resend",
      "type": "n8n-nodes-base.httpRequest",
      "position": [400, 0],
      "parameters": {
        "url": "https://api.resend.com/emails",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "Sydney Ramey - MagicPlate.ai <sydney@magicplate.info>"
            },
            {
              "name": "to",
              "value": "={{ $json.email }}"
            },
            {
              "name": "subject",
              "value": "Elevate Your Menu, Boost Revenue & Outshine the Competition"
            },
            {
              "name": "html",
              "value": "={{ $json.emailHtml }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "resend-api-key",
          "name": "Resend API Key"
        }
      },
      "typeVersion": 4.3
    },
    {
      "id": "respond",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [600, 0],
      "parameters": {
        "options": {}
      },
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Webhook - Trigger Email Send": {
      "main": [
        [
          {
            "node": "Prepare Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email": {
      "main": [
        [
          {
            "node": "Send via Resend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send via Resend": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
